$shadow: #00000047;
$black: #000;
$whitebg: #f9fdff;
$bg: #ab4d36;
$lightGray: #989898;

// PokeTypes
$bug: #1c4b27;
$dark: #5a5979;
$dragon: #61cad7;
$electric: #e3e32a;
$fairy: #eb1369;
$fighting: #984024;
$fire: #fe4c59;
$flying: #93b2c7;
$ghost: #33336a;
$grass: #19793f;
$ground: #aa702b;
$ice: #84d2f3;
$normal: #c999a7;
$poison: #5f2e87;
$psychic: #f91d90;
$rock: #8b3e21;
$steel: #42be94;
$water: #1552e2;